body {
	background-color: #eee; 
	font-family: Verdana, Serif;

}
h1, h2, h3 {
	text-transform: uppercase;
	text-align: center;
	font-family: 'Lora', Serif;
}
h1 {
	font-size: 40px;
	color: #555555;
	
}
h2 {
	font-size: 15px;
	color: #5d5b5b;
	margin: 0;
}
h3 {
	color: #3e3ea2;
	margin-bottom: 25px;
}

figure {
	width: 20%;
	text-align: center;
	margin: auto;
	padding-bottom: 20px;
}

#image {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 50%;
}

#img-caption {
	font-size: 9px;
	padding-top: 10px;
	text-align: center;
	
}

article {
	text-align: justify;
	font-size: 16px;
	line-height: 1.8em;
	width: 70%;
	margin:0 auto;
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	background-color: white;
}

blockquote {
	color: #676565;
	margin: 20px 25% 30px 25%;
	text-align: center;
	font-family: 'Lora', Serif;
	font-size: 20px; 
	line-height: 1.3em;
	font-style: italic;
	border-style: solid;
	border-width: 0 3px 0 3px;
	border-radius: 1em;
	border-color: lightgrey;
	padding: 15px;
}

cite {
	font-size: 12px;
	color: grey;
	text-align: right;
	margin: 10px 10px 0 0;
	display: block;
}

.quote:hover {
	color: black;
}

li {
	font-size: 12px;
	line-height: 1.8em;
	margin: 0 30px 0 30px;
}

a {
	text-decoration: none;
	color: #3e3ea2;
}
a:visited {
	color: #3e3ea2;
}
a:hover { /* Must come after color and visited */ 
	color: grey;
}

.wikipedia {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
}

footer {
	font-size: 10px;
	text-align: center;
}

