/* TO DO: chean up code */

* {
	margin:  0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

/* HEADER */ 

header {
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%),
      url('images/photomix.jpg');
  background-size: cover;
  color: white;
  position: relative;
  height: 85vh;
  z-index: 1;
}

#nav-bar {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%; 
}

#nav-bar ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    padding: .8em;
    margin: 0;
}

nav li {
	list-style: none;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 0.8em;
}

.nav-link:hover {
    color: black;
    background-color: white;
}

#header-img {
    max-width: 30px;
    position: absolute;
    top: 0;
    left: 1em;
    padding-top: .5em;
}

h1 {
    padding: 2%;
    border: 5px solid white;
    overflow: hidden;
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

.title {
    position: absolute;
    top: 15vh;
    left: 20%;
    right: 20%;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    color: #fff;
    z-index: -1;
}

/* INPUTS */ 

.title input[type=email] {
    margin: 10% 10px 10px 10px;
    border-radius: 10px;
    padding: 5px;
    border-color: black;
    background-color: black;
    color: #fff;
    width: 30%;
}

input[type=submit] {
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px;
}

input[type=submit]:hover {
    background-color: black;
    border: 1px solid white;
    color: white;
}

input:focus,
textarea:focus  { 
    outline: none; 
    
}

.group {
    padding: 15px 0 0 0;
}

.group-textarea {
    padding: 30px 0 0 0;
}

#contact input[type=text],
#contact input[type=email],
#contact input[type=number], 
#contact textarea {
    text-indent: 10px;
    margin-top: 5px;
    padding: 8px 0 8px 0;
    width: 100%;
    font-size: 12px;
    opacity: 0.9;
    border: 1.5px solid #a49393;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
}

#contact input[type=text]:hover,
#contact input[type=email]:hover,
#contact input[type=number]:hover,  
#contact textarea:hover {
    opacity: 1;
}

/* CONTENT */

main {
    background-color: black;
    color: white;
    position: relative;
}

#content-columns {
    position: relative;
    background-color: black;
    color: white;
    display: flex;
    width: 100%;
    height: auto;
}

.one, .two {
    width: 50%;
    padding: 5%;
    text-align: justify;
    font-size: 16px;
}

#video {
    width: 100%;
    opacity: 0.6;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.required {
    color: red;
}

footer {
    padding-top: 10%;
    text-align: center;
    font-size: 8px;
    background-color: black;
    color: white;
}

footer p {
    padding: 20px;
    opacity: 0.8;
}

footer p a:link {
    color: white;
    text-decoration: none;
}

footer p a:visited {
    color: white;
}

footer p a:hover {
    color: white;
    text-decoration: underline;
}

/* MEDIA QUERIES */

@media screen and (max-width: 600px) {
  
  nav {
    overflow: hidden;
    position: static !important;
  }
  
  #nav-bar ul {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;  
    
  }
  a.nav-link {
    display: block;
    margin: 0;
    text-align: center;    
  }
}
